<div class="bg-image d-flex justify-content-center align-items-center"
style=" background-image: url('https://c0.wallpaperflare.com/preview/964/650/463/dark-enlightenment-opened-page.jpg');height: 100vh">
<div class="card align-items-center" >
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                               <div class="row g-3 mt-4">
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    
                                    <h2 class="text-center text-Secondary">User  Login </h2>
                                    
                                </div>
                                
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label text-dark">User name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                    <label for="" class="form-label text-dark">password</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                                    <button class="btn btn-success" routerLink="/view">Login</button>
                                    <p class="text-dark">if not have account ,</p><a href="/userreg"  >Register here</a>
                                </div>
                               </div>
                </div>
            </div>
        </div>
      
      
    </div>
</div>

</div>

