<div class="  bg-image img-fluid max-width:100%" style="background-image: url('https://img.freepik.com/premium-photo/chair-with-books-background-bookshelves-library-background_105428-3837.jpg?w=2000');height: 340px;"></div>
<div class="container">
    <div class="row ">
        <div class="col col-12 col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label ">Book Title</label>
                    <input name="name"  type="text" class="form-control">
                    </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button class="btn btn-info" >Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
